root = true

[*]
# インデントスタイル
indent_style = space
indent_size = 2
# 改行コード
end_of_line = lf
# 文字コード
charset = utf-8
# 余分なスペースやタブなどを削除
trim_trailing_whitespace = true
# 最終行に改行を追加する
insert_final_newline = true

[*.{php,html}]
indent_size = 0

[frontend/**]

[*.md]
trim_trailing_whitespace = false
